*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    background-color: #3d737f;
}

.header-container{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color:#07161b;
    padding: 2rem;
    text-align: center;
    font-size: 30px;
    color:#fff;
    font-weight:bolder;
    
}

.nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    justify-content: center;
    object-position: center;
    text-decoration: none;
    margin: .3rem;
    top: 7.15rem;
    text-align: center;
    background-color:#cec7bf;
    padding: .5rem;
    color:#07161b;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 15px;
    box-shadow: 10px 5px 15px #07161b;
    

}

.nav:hover{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    justify-content: center;
    object-position: center;
    text-decoration: none;
    margin: .3rem;
    top: 7.15rem;
    text-align: center;
    background-color:#75d2e7;
    padding: .5rem;
    color:#07161b;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 15px;
    box-shadow: 10px 5px 15px #07161b;
    

}

.main-container{
        
    align-items: center;
    justify-content: center;
    
    
}

.max_height{
    height: 100px;
  
}

.table-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    

}

.th{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    justify-content: center;
    object-position: center;
    margin-top: 5rem;
    top: 6.15rem;
    text-align: center;
    background-color:#07161b;
    -webkit-text-stroke: .5px #000;
    padding: 1rem;
    color:#fff;
    font-weight: 700;
    font-size: 1.563rem;
    border-radius: 8px;
    box-shadow: 10px 5px 15px #07161b;

}



.time{
    background-color:transparent;
       
    
}
.ul{
    list-style-type: none;
    
    
    
}
.row{
    padding: 1.5rem;
    margin: 1rem;
    color: #07161b;
    -webkit-text-stroke: .5px #000;
    font-weight: bolder; 
    font-size: 1.563rem;
    background-color: #cec7bf;
    border-radius: 8px;
    border: none;
    box-shadow: 10px 5px 5px #07161b;

    

    
}


.tr{
    background-color: transparent;
    text-align: center;
    object-position: center;
}

.footer{
    position: -webkit-sticky; 
    position: sticky;
    bottom: 0;
    background-color: #07161b;
    padding: 1rem;
    text-align: left;
    font-size: 15px;
    color: #fff;
    

}

.teste{
    max-height: 200px;
    min-height: 200px;
    
    overflow-y: scroll;
}