{% load static %}
<!DOCTYPE html>
<html lang="PT-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>Teste</title>


</head>


<body class="body">

    <header class="header-container">
       
        <h1 class="title">Todos os setores</h1>

        
    </header> 
    


    <main class="main-container">

        <di>
            <a class="nav" href="{% url 'productions:button_1'  %}">
                <span>Setor De Iniciação</span>
            </a>
    
            <a class="nav" href="{% url 'productions:button_2'  %}">
                <span> Setor De Conlusão</span>
            </a>
        </di>
        



        <table class="table-container" id="minhaTabela">
            <tr>
                <th class="th">CRIADOS</th>
                <th class="th">INICIADOS</th>
                <th class="th">CONCLUÍDOS</th>
            </tr>
            <tr class="teste">
                <td class="time">
                    <ul class="ul">
                        {% for tupla in not_started %}
                        <li class="row">{{ tupla.2 }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td class="time">
                    <ul class="ul">
                        {% for tupla in started %}
                        <li class="row">{{ tupla.2 }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td class="time">
                    <ul class="ul">
                        {% for tupla in concluded %}
                        <li class="row">{{ tupla.2 }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>


    </main>

    <footer class="footer">
        <h4>
            Desenvolvido para fins práticos
        </h4>
        <h6>
            by: João Pereira
        </h6>
    </footer>





    <script src="{% static 'js/script.js' %}"></script>
</body>