{% load static %}
<!DOCTYPE html>
<html lang="PT-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>Teste</title>


</head>


<body class="body">

    <header class="header-container">
        <h1>Teste Prático</h1>
    </header> 


    <main class="main-container">
        



        <table class="table-container" id="minhaTabela">
            <tr>
                <th class="th">CRIADOS</th>
                <th class="th2">INICIADOS</th>
                <th class="th">CONCLUÍDOS</th>
            </tr>
            <tr class="teste">
                <td class="time">
                    <ul class="ul">
                        {% for tupla in not_started %}
                        <li class="row">{{ tupla.2 }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td class="time">
                    <ul class="ul">
                        {% for tupla in started %}
                        <li class="row2">{{ tupla.2 }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td class="time">
                    <ul class="ul">
                        {% for tupla in concluded %}
                        <li class="row">{{ tupla.2 }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>


    </main>

    <footer class="footer">
        <h4>
            Desenvolvido para fins práticos
        </h4>
        <h6>
            by: João Pereira
        </h6>
    </footer>





    <script src="{% static 'js/script.js' %}"></script>
</body>